html, body {
  background: #d8d8d8;
}

header a {
  text-decoration: none;
}

.component-content {
  padding: 16px;
}

.sign-up {
  display: flex;
  flex-direction: row;
  margin: 14px 0px 8px 0px;
  justify-content: flex-end;
}

.sign-up a {
  text-decoration: none;
  color: #3F51B5
}